body {
  background-image: url("img/chainsaw-man-anime-4k-wallpaper-uhdpaper\ 1.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.header_nav ul {
  list-style: none;
}

.header_nav li {
  display: inline-block;
  margin: 0 20px;
}

.header_nav a {
  text-decoration: none; 
  color: white;
}
